<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <div th:replace="header :: header-css"></div>
</head>
<body>
    <div th:replace="header :: header"></div>
        <div class="body-container">
            <div class="form-container">
                <div class="form-form">
                    <div class="form-input">
                        <p>The application is intended to be used to manage the user database.</p>
                        <p>Each user should have a first name, last name, nickname and email.</p>
                        <br>
                        <p>The application should allow you to:</p>
                        <p>- adding a new user</p>
                        <p>- editing an existing user</p>
                        <p>- removal of an existing user</p>
                        <p>- search user by id</p>
                        <p>- search user by nickname</p>
                        <p>- search user by the given phrase, which may be in the first name, last name or nickname of the user</p>
                    </div>
                </div>
            </div>
        </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>