<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <div th:replace="header :: header-css"></div>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="body-container">
    <div class="form-container">
        <form th:object="${usersEdit}" th:action="@{/usersEdit/{id}(id=${usersEdit.id})}" method="post">
            <input class="form-input" th:field="*{firstName}" placeholder="First Name"><br>
            <input class="form-input" th:field="*{lastName}"name="lastName" placeholder="Last Name"><br>
            <input class="form-input" th:field="*{nick}"name="nick" placeholder="Nick"><br>
            <input class="form-input" th:field="*{email}"name="email" placeholder="Email"><br>
            <button class="form-button">Edit user</button>
        </form>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>